.card {
  height: 100%;
}

.card__img {
  height: 200px;
  object-fit: cover;
}

.card__body {
  display: flex;
  flex-direction: column;
}

.card__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card__title--price {
  margin-left: 2rem;
  color: rgb(100, 97, 97)
}

.card__button {
  margin-top: 1.2rem;
}

.card__button.card__button--add {
  background-color: green;
  border: none;
  width: 100%;
}

.card__button.card__button--remove {
  background-color: rgb(229, 87, 87);
  border: none;
  width: 100%;
}

.card__button--container {
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card__button--info {
  margin-left: 1rem;
  margin-right: 1rem;;
}

.card__button.card__button--plus, 
.card__button.card__button--minus {
  background-color: green;
  border: none;
}